.mbtn {
  margin: 0.6rem 1rem;
  padding: 0 !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  color: #e0e0e0 !important;
  white-space: nowrap !important;
  background-color: #121620 !important;
  font-family: "Rubik", sans-serif !important;
}
.list-group .active {
  margin: 0.6rem 1rem !important;
  padding: 0 !important;
  color: #2f80ed !important;
}
.list-group-item:hover {
  color: #2f80ed !important;
}

.fa-home {
  font-size: 24px !important;
}
li:hover {
  cursor: pointer;
}
