/*==================== Paginator ====================*/

.my {
  color: #fff !important ;
  border-color: #2f80ed;
  cursor: pointer;
}

.active a {
  cursor: default;
  color: #2f80ed !important;
  border-color: #2f80ed !important;
}
