/*==================== Paginator ====================*/

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none !important;
}
button::selection {
  outline: none !important;
}

.my {
  color: #fff !important ;
  border-color: #2f80ed;
  cursor: pointer;
}

.active button {
  cursor: default;
  color: #2f80ed !important;
  border-color: #2f80ed !important;
}
