* {
  max-width: 100%;
  box-sizing: border-box !important;
  font-family: "Rubik", sans-serif;
}
.wrapper {
  overflow-x: auto;
  background-color: #121620;
}

/* --------------- Sidebar --------------- */
.sidebar {
  border-right: 1px solid rgba(47, 128, 237, 0.1);
}
